body {
  font-family: Sansation;
  background-color: #000000;
}

/* Navbar */

a.nav-link {
  font-size: 15px;
  color: white !important;
}

.active a.nav-link {
  border-bottom: 3px solid #4DBD99;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('imgs/btn_dropdown.png');
  background-size: contain;
}

/* Hero section */
.hero-bg {
  margin: 77px -15px 0 -15px;
  background-image: url('imgs/home.png');
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .hero-bg {
    height: 100%;
    background-position: center top;
    background-size: 100% auto;
  }
}
