body {
  font-family: Sansation;
}

section {
  margin-top: 80px;
}

/* Navbar */

a.nav-link {
  font-size: 15px;
  color: white !important;
}

.active a.nav-link {
  border-bottom: 3px solid #4DBD99;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('imgs/btn_dropdown.png');
  background-size: contain;
}

/* Section general */
.section-header h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 8px;
  color: #4DBD99;
}

.section-header p {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 28px;
  color: #6E6E6E;
}

/* Hero section */
.hero-bg {
  margin: 77px -15px 0 -15px;
  background-image: url('imgs/home.png');
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .hero-bg {
    height: 100%;
    max-height: 488px;
    background-position: center top;
    background-size: 100% auto;
  }
}

@media (min-width: 1200px) {
  .hero-bg {
    max-height: 579px;
  }
}

/* Cases section */
.cases-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cases-col {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

@media (min-width: 992px) {
  .cases-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.square .description .detail {
  display: block;
  width: 60px;
  height: 3px;
  margin-bottom: 16px;
  background-color: #4DBD99;
}

.square .description p {
  margin: 0;
}

.square .description {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s linear;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.square:hover .description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.square .case-img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-logo {
  background-image: url('imgs/cases/logo.png');
}

.img-1 {
  background-image: url('imgs/cases/01_Alphaville Burle Marx_4.png');
}

.img-2 {
  background-image: url('imgs/cases/02_Alphaville Jacuhy_1.png');
}

.img-3 {
  background-image: url('imgs/cases/03_Alphaville Barra da Tijuca_8.png');
}

/* Products section */
.products-section-bg {
  position: absolute;
  z-index: -10;
  background-color: #4DBD99;
  bottom: 0;
  top: 200px;
  left: 0;
  right: 0;
}

.product-card {
  position: relative;
  background-color: white;
  display: flex;
  z-index: 2;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .product-card {
    flex-direction: row;
  }
}

.product-card .section {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 992px) {
  .product-card .section {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.thumbnail-col {
  flex: 0 0 20%;
  max-width: 20%;
}

.thumbnail-col img {
  width: 100%;
  height: auto;
  padding: 20px 20px 0 0;
  opacity: 0.8;
  cursor: pointer;
}

.thumbnail-col img:hover {
  opacity: 1;
}

.thumbnails-row {
  display: flex;
}

.product-card .product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.product-card .product-description .title h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #4C4C4C;
}

.product-card .product-description .title p {
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  text-align: center;
}

/* TK Modal */
.tk-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.9);
}

.tk-btn {
  display: block;
  position: absolute;
  z-index: 2000;
  width: 33px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 40px;
  cursor: pointer;
}

.tk-btn.left {
  background-image: url('imgs/left.png');
  left: 0;
  top: 50%;
}

.tk-btn.right {
  background-image: url('imgs/right.png');
  right: 0;
  top: 50%;
}

.tk-modal .tk-close {
  background-image: url('imgs/btn_close.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  cursor: pointer;
}

.tk-modal-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: 100%;
}

.tk-modal-content img {
  width: 700px;
  max-width: 100%;
}

.tk-modal-content .description {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tk-modal-content span {
  color: white;
  font-size: 12px;
  line-height: 14px;
}
