#gsm-about-2 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media(min-width: 992px) {
  #gsm-about-2 {
    margin-bottom: 127px;
  }
}

#gsm-about-2 .first-image {
  position: absolute;
  background-image: url("imgs/about/third.png");
  background-position: calc(50% + 73px);
  background-repeat: no-repeat;
  background-size: auto 100%;

  height: 371px;
  width: 100%;
}

#gsm-about-2 .desc-container.first {
  margin-top: 371px;
  margin-bottom: 40px;
}

#gsm-about-2 .section-header {
  margin-bottom: 20px;
}

#gsm-about-2 .description {
  {{ data["typography"]["mobile"]["text_big"] }}
  color: {{ data["palette"]["dark_grey"] }};
}

@media(min-width: 768px) {
  #gsm-about-2 .description {
    {{ data["typography"]["desktop"]["text_big"] }}
  }
}


@media(min-width: 992px) {
  #gsm-about-2 .first-image {
    background-position: calc(50% + 280px);
    height: 440px;
  }

  #gsm-about-2 .desc-container.first {
    margin-top: 170px;
    margin-bottom: 190px;
  }
}

@media(min-width: 1200px) {
  #gsm-about-2 .first-image {
    background-position: calc(50% + 380px);
    height: 440px;
  }
}

#gsm-about-2 .table-1, #gsm-about-2 .table-2 {
  max-width: 100%;
  height: auto;
}

#gsm-about-2 .table-2 {
  margin-top: 20px;
  width: 80%;
}

#gsm-about-2 .table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(min-width: 992px) {
  #gsm-about-2 .table-2 {
    width: 50%;
  }
}

@media(min-width: 1276px) {
  #gsm-about-2 .table-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  #gsm-about-2 .table-2 {
    width: 50%;
    margin-left: 47px;
  }
}
