#gsm-areas p {
  margin: 0;
  padding: 0;
}

#gsm-areas .section-header.only-desktop {
  padding-top: 50px;
}

#gsm-areas .section-header.only-mobile {
  margin-bottom: 32px;
}

#gsm-areas .areas-bg {
  background-image: url("imgs/areas/areas_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 115%;
}

@media(min-width: 768px) {
  #gsm-areas .areas-bg {
    background-size: auto 110%;
  }
}

@media(min-width: 992px) {
  #gsm-areas .areas-bg {
    background-size: auto 100%;
  }
}

#gsm-areas .areas-content {
  padding-top: 156px;
  padding-bottom: 215px;
}

@media(min-width: 768px) {
  #gsm-areas .areas-content {
    padding-top: 254px;
    padding-bottom: 297px;
  }
}

@media(min-width: 992px) {
  #gsm-areas .areas-content {
    padding-top: 208px;
    padding-bottom: 198px;
  }
}

#gsm-areas .icon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  height: auto;
}

@media(min-width: 576px) {
  #gsm-areas .icon-img {
    max-width: 120px;
  }
}

@media(min-width: 768px) {
  #gsm-areas .icon-img {
    max-width: 100%;
  }
}

#gsm-areas .icon-description {
  {{ data["typography"]["mobile"]["text_big"] }}
  color: #FFFFFF;
  text-align: center;
  margin: 32px 0;
}

@media(min-width: 768px) {
  {{ data["typography"]["desktop"]["text_big"] }}
}

#gsm-areas .icons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  #gsm-areas .icon-description {
  }

  #gsm-areas .icon-img {
  }
}

#gsm-areas .icon-col:not(:last-child) {
  flex: 0 0 50%;
  max-width: 50%;
}

#gsm-areas .icon-col:last-child {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 992px) {
  #gsm-areas .icon-col {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

#gsm-areas .areas-title {
  display: flex;
}

#gsm-areas .section-header {
  margin: 0;
}

#gsm-areas span {
  margin-right: 10px;
  color: {{ data["palette"]["light_green"] }};
  {{ data["typography"]["mobile"]["header"] }}
  font-size: 50px;
}
