@font-face {
  font-family: Sansation;
  src: url('fonts/Sansation_Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Sansation;
  src: url('fonts/Sansation_Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Sansation;
  src: url('fonts/Sansation_Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Sansation;
  src: url('fonts/Sansation_Bold_Italic.ttf');
  font-style: italic;
  font-weight: 700;
}
