.tk-footer-wrapper {
  background-color: #4DBD99;

  background-image: url("imgs/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.tk-footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

@media (min-width: 992px) {
  .tk-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 96px 24px;
    padding-top: 136px;
  }
}

.footer-logo {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 32px 0;
}

@media (min-width: 992px) {
  .footer-logo {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .address-n-contact-wrapper {
    display: flex;
    align-items: center;
  }
}

.tk-footer .address-wrapper {
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .tk-footer .address-wrapper {
    margin-bottom: 0;
    padding-right: 32px;
    border-right: 1px solid white;
  }
}

.tk-footer h3 {
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  color: white;
}

.tk-footer .contact {
  font-size: 16px;
  line-height: 1;
  color: white;
  margin-bottom: 16px;
}

.tk-footer a.email {
  font-size: 16px;
  line-height: 18px;
  color: white;
}

@media (min-width: 992px) {
  .social-contacts {
    margin-left: 32px;
  }
}

.tk-footer .social-contacts a {
  margin-right: 8px;
}
