.tk-footer-wrapper {
  margin-top: -1px;
  background-color: #4DBD99;

  background-image: url("imgs/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.tk-footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;

  {{ data["typography"]["mobile"]["text"] }}
}

.tk-footer .contact-title {
  {{ data["typography"]["mobile"]["header"] }}
  color: {{ data["palette"]["white"] }};
}

@media (min-width: 992px) {
  .tk-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 96px 24px;
    padding-top: 136px;

    {{ data["typography"]["desktop"]["text"] }}
  }

  .tk-footer .contact-title {
    {{ data["typography"]["desktop"]["header"] }}
  }
}

.footer-logo {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 32px 0;
}

@media (min-width: 992px) {
  .footer-logo {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .address-n-contact-wrapper {
    display: flex;
    align-items: center;
  }
}

.tk-footer .address-wrapper {
  text-align: center;
  color: {{ data["palette"]["white"] }};
  {{ data["typography"]["mobile"]["text"] }}
  margin-bottom: 81px;
}

@media (min-width: 992px) {
  .tk-footer .address-wrapper {
    text-align: left;
    margin-bottom: 0;
    border-right: 1px solid {{ data["palette"]["white"] }};
    padding-right: 32px;
    margin-right: 32px;
    {{ data["typography"]["desktop"]["text"] }}
  }
}

.tk-footer .address-wrapper p {
  margin: 0;
  padding: 0;
}

.tk-footer a.email {
  cursor: pointer;
  color: white;
}

.tk-footer a.email:hover {
  color: white;
}

.tk-footer .social-contacts {
  display: flex;
  justify-content: center;
}

.tk-footer .social-contacts a {
  margin-right: 8px;
  margin-left: 8px;
}
