body {
  font-family: Sansation;
}

section {
  margin-top: 80px;
}

.to-the-top {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 100px;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/* Section general */
.section-header h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 8px;
  color: #4DBD99;
}

.section-header .highlight {
  font-size: 40px;
  line-height:45px;
}

.section-header p {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 28px;
  color: #6E6E6E;
}

.only-desktop {
  display: none !important;
}

@media (min-width: 992px) {
  .only-desktop {
    display: block !important;
  }
}

.only-mobile {
  display: block !important;
}

@media (min-width: 992px) {
  .only-mobile {
    display: none !important;
  }
}
