body {
  font-family: Sansation, sans-serif;
}

section {
  margin-top: 80px;
}

/* Section general */
.section-header {
  {{ data["typography"]["mobile"]["header"] }}
  color: {{ data["palette"]["light_green"] }};
  margin-bottom: 8px;
}

@media(min-width: 768px) {
  .section-header {
    {{ data["typography"]["desktop"]["header"] }}
  }
}

.section-subheader {
  {{ data["typography"]["mobile"]["subheader"] }}
  color: {{ data["palette"]["dark_grey"] }};
  margin-bottom: 32px;
}

@media(min-width: 768px) {
  .section-subheader {
    {{ data["typography"]["desktop"]["subheader"] }}
  }
}

.section-header .highlight {
  font-size: 60px;
  line-height:60px;
}

.only-desktop {
  display: none !important;
}

@media (min-width: 992px) {
  .only-desktop {
    display: block !important;
  }
}

.only-mobile {
  display: block !important;
}

@media (min-width: 992px) {
  .only-mobile {
    display: none !important;
  }
}
