.hero-bg {
  margin-top: 77px;
  background-image: url('imgs/home_mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: calc(100% - 75px);
}

@media(min-width: 576px) {
  .hero-bg {
    background-image: url('imgs/home.png');
  }
}
