.products-bg {
  background-image: linear-gradient(
    to bottom,
    #FFFFFF,
    #FFFFFF 15%,
    #4DBD99 15%,
    #4DBD99
  );
}

.product-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .product-card {
    flex-direction: row;
  }
}

.product-card .expanded-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .product-card .section {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.thumbnail-col {
  flex: 0 0 20%;
  max-width: 20%;
}

.thumbnail-col img {
  width: 100%;
  height: auto;
  padding: 8px 8px 0 0;
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 992px) {
  padding: 20px 20px 0 0;
}

.thumbnail-col img:hover {
  opacity: 1;
}

.thumbnails-row {
  display: flex;
}

.product-card .product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}

@media (min-width: 992px) {
  .product-card .product-description {
    padding: 40px;
  }
}

.product-card .product-description .title h3 {
  {{ data["typography"]["mobile"]["header"] }}
  text-align: center;
  color: {{ data["palette"]["dark_grey"] }};
}

@media(min-width: 768px) {
  .product-card .product-description .title h3 {
    {{ data["typography"]["desktop"]["header"] }}
  }
}

.product-card .product-description .localization {
  {{ data["typography"] ["mobile"]["subheader"] }}
  color: {{ data["palette"]["dark_grey"] }};
  text-align: center;
}

@media(min-width: 768px) {
  .product-card .product-description .localization {
    {{ data["typography"]["desktop"]["subheader"] }}
  }
}

.product-card .product-description .status {
  {{ data["typography"]["mobile"]["text_big"] }}
  color: {{ data["palette"]["light_green"] }};
  text-align: center;
}

@media(min-width: 768px) {
  .product-card .product-description .status {
    {{ data["typography"]["desktop"]["text"] }}
  }
}

.product-card .product-description {
  {{ data["typography"]["mobile"]["text_big"] }}
}

@media(min-width: 768px) {
  .product-card .product-description {
    {{ data["typography"]["desktop"]["text"] }}
  }
}

.product-card .product-description .description-list ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 26px 0;
}

.product-card .product-description .description-list li {
  margin-bottom: 4px;
}

.product-card .product-description .additional-details .area-description {
  color: {{ data["palette"]["light_green"] }};
  text-align: center;
}

.product-card .product-description .additional-details .area-localization {
  margin: 0;
  text-align: center;
}

.product-card .product-description .additional-details {
  margin-top: 16px;
}

@media (min-width: 992px) {
  .product-card .product-description .additional-details {
    margin-top: 0;
  }
}
