<section id="gsm-about-2">
  <div class="first-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="desc-container first">
          <h2 class="section-header">ÍNDICES DE EFICIÊNCIA<br />DE PROJETO E CUSTO</h2>
          <p class="description">
          Utilização de índices históricos como <strong>ferramenta<br />de análise</strong> de projeto, <strong>evitando sub ou super dimensionamento</strong>.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-container">
          <img class="table-1" src="imgs/about/tabela1.png" />
          <img class="table-2" src="imgs/about/tabela2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
