<section id="gsm-about">
  <div class="first-image"></div>
  <div class="second-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="desc-container first">
          <h2 class="section-header">ENGENHARIA<br />E NEGÓCIOS</h2>
          <p class="description">
            Empresa de engenharia focada em oferecer soluções voltadas ao <strong>mercado de desenvolvimento imobiliário</strong> e <strong>bairros planejados</strong>. Agindo com serviço e atendimento personalizados e flexíveis. Assim estabelecendo <strong>relações de excelência e qualidade com nossos clientes</strong>.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-6">
        <div class="desc-container second">
          <h2 class="section-header">FILOSOFIA</h2>
          <p class="description">
            <strong>Valorizar a prática da arquitetura, urbanismo e engenharia em harmonia com o meio ambiente</strong>, priorizando os sistemas e os materiais usados, do começo ao fim do projeto.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
