<section id="gsm-areas">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header only-mobile">
          <h2><span class="highlight">6</span> Áreas de Atuação</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="areas-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header only-desktop">
            <h2><span class="highlight">6</span> Áreas de Atuação</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="icons-wrapper">
            <div class="icon-col">
              <img src="imgs/areas/paper.png" class="icon-img" />
              <p class="icon-description">
                Definição do Produto e MasterPlan
              </p>
            </div>
            <div class="icon-col">
              <img src="imgs/areas/worker.png" class="icon-img" />
              <p class="icon-description">
                Projeto e Licenciamento
              </p>
            </div>
            <div class="icon-col">
              <img src="imgs/areas/pencil.png" class="icon-img" />
              <p class="icon-description">
                Gestão de Obras
              </p>
            </div>
            <div class="icon-col">
              <img src="imgs/areas/motor.png" class="icon-img" />
              <p class="icon-description">
                Execução de Obras
              </p>
            </div>
            <div class="icon-col">
              <img src="imgs/areas/house.png" class="icon-img" />
              <p class="icon-description">
                Nossos Produtos
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
