<section id="gsm-areas">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="areas-title">
          <span>5</span>
          <h2 class="section-header">ÁREAS<br />DE ATUAÇÃO</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="areas-bg">
    <div class="areas-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="icons-wrapper">
              <div class="icon-col">
                <img src="imgs/areas/paper.png" class="icon-img" />
                <p class="icon-description">
                  <strong>Definição</strong><br />do Produto e<br />MasterPlan
                </p>
              </div>
              <div class="icon-col">
                <img src="imgs/areas/pencil.png" class="icon-img" />
                <p class="icon-description">
                  <strong>Projeto</strong> e<br /><strong>Licenciamento</strong>
                </p>
              </div>
              <div class="icon-col">
                <img src="imgs/areas/worker.png" class="icon-img" />
                <p class="icon-description">
                  <strong>Gestão</strong><br />de Obras
                </p>
              </div>
              <div class="icon-col">
                <img src="imgs/areas/motor.png" class="icon-img" />
                <p class="icon-description">
                  <strong>Execução</strong><br />de Obras
                </p>
              </div>
              <div class="icon-col">
                <img src="imgs/areas/house.png" class="icon-img" />
                <p class="icon-description">
                  Nossos<br /><strong>Produtos</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
