<section id="gsm-cases" class="container">
  <div class="row">
    <div class="col-12">
      <div class="section-header-wrapper">
        <h2 class="section-header">CASES</h1>
        <p class="section-subheader">Projetos realizados</p>
      </div>
    </div>
    <div class="col-12">
      <!-- Start of cases section -->
      <div class="cases-section">
        {% for case in data["cases"] %}
          <a
            class="cases-col"
            href="javascript:void(0);"
          >
            <div class="square">
              <div class="case-img img-{{ loop.index }}"></div>
              <div class="description" onclick="openModalImg({{ loop.index }});">
                <span class="detail"></span>
                <p>{{ case["label"] }}</p>
              </div>
            </div>
          </a>
          <div class="cases-col">
            <div class="square">
              <div class="case-img img-logo"></div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- End of cases section -->
    </div>
  </div>
</section>
