<div id="gsm-contatos" class="tk-footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tk-footer">
          <img class="footer-logo" src="imgs/logo_footer.png" />
          <div class="address-n-contact-wrapper">
            <div class="address-wrapper">
              <h3>CONTATO</h3>
              <p class="contact">
                Rua Sebastião Lanva, 317<br/>
                CEP 13805-027 - Mogi Mirim/SP
              </p>
              <p class="contact">
                +55 11 5096-4265
              </p>
              <a class="email">
                contato@silveiramarques.com
              </a>
            </div>
            <div class="social-contacts">
              {% for social_link in data["social_links"] %}
                <a href="{{ social_link['url'] }}">
                  <img src="{{ social_link['img'] }}" />
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
