<!DOCTYPE>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129759364-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129759364-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Silveira Marques Engenharia</title>

    <style>
      {% with data=data %}
        {% include "styles/fonts.css" %}
        {% include "styles/global.css" %}
        {% include "styles/navbar.css" %}
        {% include "styles/hero.css" %}
        {% include "styles/about.css" %}
        {% include "styles/about_two.css" %}
        {% include "styles/areas.css" %}
        {% include "styles/cases.css" %}
        {% include "styles/products.css" %}
        {% include "styles/footer.css" %}

        {% include "styles/modal.css" %}
      {%  endwith %}
    </style>
  </head>

  <body id="page-top">
    {% with data=data %}
      {% include "navbar.html" %}
      {% include "hero.html" %}
      {% include "about.html" %}
      {% include "about_two.html" %}
      {% include "areas.html" %}
      {% include "cases.html" %}
      {% include "products.html" %}
      {% include "footer.html" %}

      {% include "modal.html" %}
    {% endwith %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      {% with data=data %}
        {% include "js/modal.js" %}
        {% include "js/scroll.js" %}
        {% include "js/carousel.js" %}
      {% endwith %}
    </script>
  </body>
</html>
