<div class="products-bg">
  <section id="gsm-products" class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-wrapper">
          <h2 class="section-header">PRODUTOS</h1>
          <p class="section-subheader">Conheça nossos produtos</p>
        </div>
      </div>
      <div class="col-12">
        {% for product in data["products"] %}
          <div class="product-card">
            <div class="section product-images">
              <img
                id="expandedImg-{{ loop.index-1 }}"
                src="{{ product['firstImg'] }}"
                class="expanded-img"
              />
              <div class="thumbnails-row">
                {% set carousel_loop = loop %}
                {% for imgSrc in product["imageSrcs"] %}
                  <div class="thumbnail-col">
                    <img
                      src="{{ imgSrc }}"
                      onclick="makeImageExpanded(this, {{ carousel_loop.index-1 }})"
                    />
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="section product-description">
              <div class="title">
                <h3>{{ product["title"] }}</h3>
                <p class="localization">{{ product["location"] }}</p>
                <p class="status">{{ product["status"] }}</p>
              </div>
              <div class="description-list">
                <ul>
                  {% for item in product["description"]["list"] %}
                    <li>
                      - {{ item }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="additional-details">
                <p class="area-description">{{ product["area_description"] }}</p>
                {% for area in product["area_localization"] %}
                  <p class="area-localization">{{ area }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
