<div style="position: relative;">
  <div class="products-section-bg"></div>
  <section id="gsm-products" class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2>Produtos</h1>
          <p>Conheça nossos produtos</p>
        </div>
      </div>
      <div class="col-12">
        <div class="product-card">
          <div class="section product-images">
            <div class="highlight-img">
              <img id="expandedImg" style="width: 100%;" src="imgs/products/1.png" />
            </div>
            <div class="thumbnails-row">
              <div class="thumbnail-col">
                <img src="imgs/products/1.png" onclick="openImg(this);" />
              </div>
              <div class="thumbnail-col">
                <img src="imgs/cases/01_Alphaville Burle Marx_4.png" onclick="openImg(this);" />
              </div>
              <div class="thumbnail-col">
                <img src="imgs/cases/02_Alphaville Jacuhy_1.png" onclick="openImg(this);" />
              </div>
            </div>
          </div>
          <div class="section product-description">
            <div class="title">
              <h3>Nome do Projeto</h3>
              <p>Mogi Mirim - SP</p>
            </div>
            <p class="text-center">
            Residência com 155m², 3 dormitórios com suíte.<br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt, augue sit amet egestas mattis, purus odio egestas velit, nec scelerisque erat dolor vitae massa. Etiam fringilla leo id leo dictum, ac gravida nulla commodo. Phasellus velit dolor, pulvinar vel quam in, ornare faucibus nisl.<br /><br />
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris imperdiet pharetra eros at rutrum.
            </p>
          </div>
      </div>
    </div>
  </section>
</div>
